
API/API/bin/Debug/net6.0/API.dll

API/API/bin/Debug/net6.0/API.exe

API/API/bin/Debug/net6.0/API.pdb

API/API/obj/API.csproj.nuget.dgspec.json

API/API/obj/Debug/net6.0/API.assets.cache

API/API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache

API/API/obj/Debug/net6.0/API.csproj.CoreCompileInputs.cache

API/API/obj/Debug/net6.0/API.csproj.FileListAbsolute.txt

API/API/obj/Debug/net6.0/API.dll

API/API/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig

API/API/obj/Debug/net6.0/API.genruntimeconfig.cache

API/API/obj/Debug/net6.0/API.MvcApplicationPartsAssemblyInfo.cs

API/API/obj/Debug/net6.0/API.pdb

API/API/obj/Debug/net6.0/apphost.exe

API/API/obj/Debug/net6.0/ref/API.dll

API/API/obj/Debug/net6.0/refint/API.dll

API/API/obj/project.assets.json

API/API/obj/project.nuget.cache

API/API/obj/project.packagespec.json

API/API/obj/rider.project.restore.info

API/API/obj/staticwebassets.pack.sentinel

API/API/obj/API.csproj.nuget.g.props
