<app-header></app-header>

<div class="container">
  <form [formGroup]="editForm" (ngSubmit)="putForm(editForm.value)">
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">Cliente</label>
        <input
          type="number"
          class="form-control"
          placeholder="Cliente"
          formControlName="cliente"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Placa Vehiculo</label>
        <input
          type="text"
          class="form-control"
          placeholder="Placa Vehiculo"
          formControlName="placaVehiculo"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Sucursal</label>
        <input
          type="text"
          class="form-control"
          placeholder="Sucursal"
          formControlName="sucursal"
        />
      </div>
    </div>
    <br /><br />
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">Tipo Lavado</label>
        <input
          type="text"
          class="form-control"
          placeholder="Tipo Lavado"
          formControlName="tipoLavado"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Responsable</label>
        <input
          type="number"
          class="form-control"
          placeholder="Responsable"
          formControlName="responsable"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Factura</label>
        <input
          type="text"
          class="form-control"
          placeholder="Factura"
          formControlName="factura"
        />
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <button type="button" class="btn btn-dark" (click)="exit()">Salir</button>
  </form>
</div>
