<app-header></app-header>

<div class="container">
  <div class="form-group row">
    <div class="col">
      <label for="exampleFormControlInput1">ID</label>
      <br />
      <label for="exampleFormControlInput1">{{
        typeWashingRequest.id_Lavado
      }}</label>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1">Nombre</label>
      <br />
      <label for="exampleFormControlInput1">{{ typeWashingInfo.nombre }}</label>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1">Personal Requerido</label>
      <br />
      <label for="exampleFormControlInput1">{{
        typeWashingInfo.personalRequerido
      }}</label>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1">Precio</label>
      <br />
      <label for="exampleFormControlInput1">{{ typeWashingInfo.precio }}</label>
    </div>
  </div>
  <br /><br />
  <div class="form-group row">
    <div class="col">
      <label for="exampleFormControlInput1">Costo</label>
      <br />
      <label for="exampleFormControlInput1">{{ typeWashingInfo.costo }}</label>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1">Duracion</label>
      <br />
      <label for="exampleFormControlInput1">{{
        typeWashingInfo.duracion
      }}</label>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1">Puntuacion Lealtad</label>
      <br />
      <label for="exampleFormControlInput1">{{
        typeWashingInfo.puntuacionLealtad
      }}</label>
    </div>
  </div>
  <br /><br />
  <div class="form-group row">
    <div class="col">
      <label for="exampleFormControlInput1">Productos Utiulizadosa:</label>
      <br />

      <tr *ngFor="let product of typeWashingInfo.productosUtilizados">
        <td>{{ product }}</td>
      </tr>
    </div>
  </div>
  <br />
  <button type="button" class="btn btn-secondary" (click)="edit()">
    Editar
  </button>
  <button type="button" class="btn btn-danger" (click)="delete()">
    Eliminar
  </button>
  <button type="button" class="btn btn-dark" (click)="exit()">Salir</button>
</div>
