<app-header></app-header>

<div class="container">
  <div class="form-group row">
    <div class="col">
      <label for="exampleFormControlInput1">Nombre</label>
      <br />
      <label for="exampleFormControlInput1">{{ providerInfo.nombre }}</label>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1">Cedula Juridica</label>
      <br />
      <label for="exampleFormControlInput1">{{
        providerInfo.cedulaJuridica
      }}</label>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1">Direccion</label>
      <br />
      <label for="exampleFormControlInput1">{{ providerInfo.direccion }}</label>
    </div>
  </div>
  <br /><br />
  <div class="form-group row">
    <div class="col">
      <label for="exampleFormControlInput1">Correo</label>
      <br />
      <label for="exampleFormControlInput1">{{ providerInfo.correo }}</label>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1">Informacion Contacto</label>
      <br />
      <label for="exampleFormControlInput1">{{ providerInfo.contacto }}</label>
    </div>
  </div>
  <br />
  <button type="button" class="btn btn-secondary" (click)="edit()">
    Editar
  </button>
  <button type="button" class="btn btn-danger" (click)="delete()">
    Eliminar
  </button>
  <button type="button" class="btn btn-dark" (click)="exit()">Salir</button>
</div>
