<app-header></app-header>

<div class="container">
  <form [formGroup]="newForm" (ngSubmit)="postForm(newForm.value)">
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre"
          formControlName="nombre"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Cedula Juridica</label>
        <input
          type="text"
          class="form-control"
          placeholder="Cedula Juridica"
          formControlName="cedulaJuridica"
        />
      </div>
    </div>
    <br /><br />
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">Direccion</label>
        <input
          type="text"
          class="form-control"
          placeholder="Direccion"
          formControlName="direccion"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Correo</label>
        <input
          type="text"
          class="form-control"
          placeholder="Correo"
          formControlName="correo"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Contacto</label>
        <input
          type="text"
          class="form-control"
          placeholder="Contacto"
          formControlName="contacto"
        />
      </div>
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Crear</button>
    <button type="button" class="btn btn-dark" (click)="exit()">Salir</button>
  </form>
</div>
