<app-header></app-header>

<div class="container">
  <form [formGroup]="editForm" (ngSubmit)="putForm(editForm.value)">
    <label for="exampleFormControlInput1">{{ editForm.value.nombre }}</label>
    <br /><br />
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">Telefono</label>
        <input
          type="number"
          class="form-control"
          placeholder="Telefono"
          formControlName="telefono"
        />
      </div>
    </div>
    <br /><br />
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">Gerente</label>
        <input
          type="text"
          class="form-control"
          placeholder="Gerente"
          formControlName="gerente"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Fecha Inicio Gerente</label>
        <input
          type="text"
          class="form-control"
          placeholder="Fecha Inicio Gerente"
          formControlName="fechaInicioGerente"
        />
      </div>
    </div>
    <br /><br />
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <button type="button" class="btn btn-dark" (click)="exit()">Salir</button>
  </form>
</div>
