<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="home.component.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="btns">
      <input class="user" type="button" routerLink="/loginClient" />

      <input class="employee" type="button" routerLink="/loginAdmin" />

      <br />

      <span class="title1">Cliente</span>
      <span class="title2">Administrador</span>
    </div>
  </body>
</html>
